NUXT_SITE_URL=http://localhost:3000
NUXT_SITE_NAME="SaaS Boilerplate"
NUXT_SITE_ENV="staging"

BETTER_AUTH_SECRET=

DATABASE_URL="mysql://root@localhost:3306/database"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

MAIL_PROVIDER=resend
MAIL_RESEND_KEY=
MAIL_FROM='"SaaS Boilerplate" <noreply@example.com>'